@import "mainBanner.css";
@import "slider.css";
@import "subscribeSummarize.css";
@import "subscribeSchedule.css";
@import "subscribeReviews.css";
@import "subscribeRemain.css";

/* .mainSection 시작 */
.mainSection,
.subscribeSchedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeNow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: gray;
  margin: 20px;
}

.subscribeNow h3 {
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
}

.subscribeNow__introduce {
  border-bottom: 6px #ff7276 solid;
  border-radius: 4px;
  padding-bottom: 8px;
  font-size: 14px;
}

.subscribeNow__desc {
  color: #ff7276;
  margin: 10px 0px 30px 0px;
}
/* .mainSection 끝 */

.img_sub {
  width: 85%;
  margin: 20px;
}

@media (min-width: 1180px) {
  .mainSection,
  .subscribeSchedule {
    display: inline-block;
    align-items: center;
    justify-content: center;
  }

  .img_sub {
    width: 500px;
    margin: 20px 50px;
  }
}

/* qna 시작 */
.qna {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qna h3 {
  font-size: 30px;
  color: rgb(80, 80, 80);
  margin: 30px;
}

.qna__list {
  color: rgb(80, 80, 80);
  width: 100%;
}

.qna .qna__list > * {
  border-bottom: 1px rgb(200, 200, 200) solid;
  font-weight: lighter;
}

.qna__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 15px;
  cursor: pointer;
}

.qna__header :nth-child(n) {
  margin: 0 10px;
}

.qna__answer {
  font-size: 13px;
  line-height: 130%;
  margin-left: 5px;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.qna__answer-showing {
  padding-bottom: 20px;
  height: auto;
  visibility: visible;
  opacity: 1;
}

.qna__answer br {
  content: " ";
  display: block;
  margin: 15px 0;
}
