@import "mainBanner.css";
@import "slider.css";
@import "subscribeSummarize.css";
@import "subscribeSchedule.css";
@import "subscribeReviews.css";
@import "subscribeRemain.css";
@import "qna.css";

/* .mainSection 시작 */
.mainSection,
.subscribeSchedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeNow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: gray;
  margin: 20px;
}

.subscribeNow h3 {
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
}

.subscribeNow__introduce {
  border-bottom: 6px #ff7276 solid;
  border-radius: 4px;
  padding-bottom: 8px;
  font-size: 14px;
}

.subscribeNow__desc {
  color: #ff7276;
  margin: 10px 0px 30px 0px;
}
/* .mainSection 끝 */

.img_sub {
  width: 85%;
  margin: 20px;
}

@media (min-width: 1180px) {
  .mainSection,
  .subscribeSchedule {
    display: inline-block;
    align-items: center;
    justify-content: center;
  }

  .img_sub {
    width: 500px;
    margin: 20px 50px;
  }
}

/* more 시작 */

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.more h3 {
  font-size: 24px;
  color: rgb(80, 80, 80);
  margin: 30px;
}

.more__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 120px;
}

.more__content div {
  text-align: center;
  color: rgb(80, 80, 80);
  line-height: 150%;
}
