/* .slider 시작 */
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.slider {
  width: 90%;
  height: 240px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__item {
  width: 450px;
  font-size: 19px;
  line-height: 150%;
  text-align: center;
  position: absolute;
  top: auto;
  color: rgb(60, 60, 60);
  z-index: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

@media (max-width: 500px) {
  .slider__item {
    width: 250px;
  }
}

.showing {
  z-index: 1;
  opacity: 1;
}

@media (min-width: 1180px) {
  .slider .slider__item {
    width: 90%;
  }
}

/* .slider 끝 */
